<article class="question">
		<div class="question-icon tag_{{page}}">
			<p>?</p>
		</div>

		<div class="question-content">
			<p class="question-author">{{userID}}</p>
			<p class="question-text">
				{{title}}
			</p>
            <p class="question-details">{{text}}</p>
			 
		</div>
	</article>