<article class="question">
		<div class="question-icon tag_gaming">
			<p>?</p>
		</div>
		<div class="question-content">
			<p class="question-text">
				{{text}}
			</p>
			<p class="tags">
				{{#each page}}
				<a href="#">
					{{convertTag this}}
				</a>
				{{/each}}
			</p>
			
		</div>
	</article>