<article class="question">
		<div class="question-icon tag_gaming">
			<p>?</p>
		</div>
		<div class="question-content">
			<p class="question-text">
				{{text}}
			</p>
			<p class="tags">
				<a href="#">{{tags}}</a>
			</p>
			
		</div>
	</article>